<!--Developed by Abhimanyu Sharma-->
<div class="card-footer mh-100" style="background-color: #f0f2f0;">
    <!-- <footer>
        <p>This is the footer</p>
    </footer> -->
    <center>
        <small class="text-muted">Developed by <a style="text-decoration:none" href="https://github.com/dev-abhimanyu"><i class="bi bi-github"></i> dev-abhimanyu<font size='1'></font></a></small>
        <br>
        <font size="1">
        Resource Attribution:
        Package Icon made by <a style="text-decoration:none" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a style="text-decoration:none" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>;
            Icons by: <a style="text-decoration:none" href="https://icons.getbootstrap.com/">Bootstrap Icons</a>
        </font>
    </center>
</div>